[FORMAT]
# Максимальная длина строки
max-line-length=120

[TYPECHECK]
# Игнорируем проверки для модуля wx
ignored-modules=wx

[MESSAGES CONTROL]
# Отключаем предупреждение W0718 (перехват слишком общего исключения)
# Отключаем предупреждение C0103 (имя переменной не соответствует стандарту)
disable=W0718,C0103,R0902,R0915,W0613,R0903
